body{
    background-image: linear-gradient(45deg, #020024 0%, #090979 35%, #00d4ff 100%); ;
    margin: 0;
    padding: 0;
}
.Container{
    width: 100vw;
    height: 100vh;
}
.Content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
img {
    width: 220px ;
    border-radius: 100%;

}
p,h1{
    font-family: 'Simonetta' ;
}

p{
    font-size: 18px;
}